* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: monospace;
  line-height: 24px;
  font-size: 13px;
  color: #3c3d3d;
  -webkit-font-smoothing: antialiased;
}
#page {
  padding: 0px 30px 30px;
  float: left;
  width: 50%;

}
p {
  margin-bottom: 15px;
  max-width: 600px;
}
a {
  color: rgb(0, 0, 238);
}
img {
  width: 100%;
  border: 0;
}
#page .header {
  line-height: 15px;
  margin: 25px 0 10px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 28px;
  color: #1c1d1d;
}

@media (max-width: 940px) {
  #page {
    padding: 0px 20px 30px;
    max-width: 580px;
    width: 100%;
    float: none;
  }
  #page.right {
    display: none;
  }
}