<div id="page">
  <div class="header">
    Guille Lopez:<br>
  </div>
  <p>Digital Product Engineer. Someone who is able to think about problems in terms of how to help users, or grow user base or burst revenue, as opposed to been atracted to just interesting technical problems.</p>

  <div class="header">
    SO FAR this year:<br>
  </div>
  <p>2 Shopify Apps - <a href="https://apps.shopify.com/outlet-store">Outlet</a> and <a href="https://apps.shopify.com/duplicate-store">Duplicate</a></p>
  <p>1 HiOscar.com - Freelancing for <a href="http://output.site/">Output</a></p>
  <p>1 Mentoring - Feelancing for <a href="https://www.heywoodandsons.co/">Heywood</a></p>
  <p>1 assembledbrands.com - Feelancing for <a href="https://www.assembledbrands.com/">AB</a></p>

  <div class="header">
    In the past:<br>
  </div>
  <p>Shopify Themes - <a href="https://themes.shopify.com/themes/colors/styles/generic">Colors</a> and <a href="https://themes.shopify.com/themes/california/styles/california">California</a></p>
  <p>The Line — Freelancing for <a href="https://www.assembledbrands.com">AB</a></p>
  <p>Electric Objects - Freelancing for <a href="https://www.electricobjects.com/">EO</a></p>
  <p>Ssssaving - It didn't <a href="https://ssssavings.herokuapp.com/">work out</a></p>
  <p>Ebay - Full Time for 1 year</p>
  <p>Svpply - Full Time for 2 years</p>
  <p>Breel - Full Time for 3 years</p>
  <p>Selected Projects - Old portfolio in <a href="http://www.guillelopez.com/projects.pdf">PDF</a></p>

  <div class="header">
    Next:<br>
  </div>
  <p>Should we build something together?</p>
  <p><a href="mailto:guillelopezgines@gmail.com">Email</a> me, or <a href="https://twitter.com/guillelopez_">tweet</a> me.</p>
  <img src="signature.png" width="300"><br>
  <p>Guille Lopez, Barcelona <%= Time.now.strftime("%B %Y") %></p>
</div>
