<div id="page">
  <div id="header">
    <h1 class="leftColumn">Hello<span class="bigger">!</span></h1>
    <p class="rightColumn description">I am Guille Lopez, a full-stack developer and designer currently working from Barcelona. On this site you can check my current status. Feel free to reach me by <a href="mailto:guille@guillelopez.com">email</a> or <a href="http://twitter.com/#!/guillelopez_">twitter</a>.</p>
    <div class="clear"></div>
  </div>
  <div id="content">
    <%= render @projects %>
  </div>
  <div id="footer">
    <p id="more">
      - - - - - - - - - - - - - - - - - - - - - - - - - - - - -<br>
      &nbsp;More at <font color="#00E811"><a href="http://www.linkedin.com/in/guille">Linkedin</a></font> and <font color="#00E811"><a href="http://twitter.com/#!/guillelopez_">twitter</a></font><br>
      - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    </p>
  </div>
</div>
