* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-family: lucida grande, lucida sans unicode, Georgia, Arial, Verdana; 
	font-size: 1em; 
  	color: #333;
}

#selector {
	position:absolute;
	left: 0px; 
	top: 0px;
	z-index:10; 
	padding: 10px;  
}
	
#contenedor {   
	width: 100%;     
	height: 100%; 
	position:absolute;
	left: 0px; 
	top: 0px;
	text-align: center;     
	z-index: 5; 
}  

#contenido{
	padding-top: 40px;  
	margin-bottom: 40px;
}  



#flashcontent {
	width: 100%;
	height: 100%; 
	margin-top: 30px;
}

h1{
  font-family:lucida grande, lucida sans unicode, Georgia, Arial, Verdana,; 
  font-size:20px; 
  color: #111;
  width: 400px;
}

h2{
  font-family:lucida grande, lucida sans unicode, Georgia, Arial, Verdana,; 
  font-size:16px; 
  color: #333;
  width: 300px;
}             

p{
	font-family: lucida grande, lucida sans unicode, Georgia, Arial, Verdana;     
}

p.description{
  	font-size:14px; 
  	color: #333;
  	width: 400px;
	padding: 10px;
}

p.code{
  font-family: Courier, Georgia, Arial, Verdana; 
  font-size:12px; 
  color: #333;
  width: 300px;
  border: 1px solid #CCC;           
  padding: 4px;
}

p.photo{
  	font-size:14px; 
  	color: #333;
}

p.about{       
	font-family: georgia;
  	font-size:20px; 
  	color: #333;
  	width: 500px;
}        

select{
  font-family: lucida grande, lucida sans unicode, Verdana, Georgia, Arial, Verdana; 
  font-size: .7em; 
  border : 0;
  background-color: #333333; 
  color: #CCC;   
}

option{
  background-color:#111111; 
  color:#CCC;  
}
     

a.georgia:link{  font-size:11px;text-decoration: none; color: #FFFFFF; background-color: #3c3c3c;}
a.georgia:active{ font-size:11px;text-decoration: underline; color: #FFFFFF; background-color: #3c3c3c;}
a.georgia:visited{ font-size:11px;text-decoration: none; color: #FFFFFF; background-color: #3c3c3c;}
a.georgia:hover{ font-size:11px;text-decoration: underline; color: #FFFFFF; background-color: #3c3c3c;}

a.georgia14{ font-size:13px;text-decoration: none; color: #111; font-weight:bold;}
a.georgia14:hover{ font-size:13px;text-decoration: none; color: #000; background-color: #ffff00; font-weight:bold;}

a.georgia14black{ font-size:13px;text-decoration: none; color: #aaa;}
a.georgia14black:hover{ font-size:13px;text-decoration: none; color: #ccc; background-color: #ffff00;}

a.clean{text-decoration: none;}

	